%center
 %pre{:class=>"container"}
  %div{:class=>"col-lg-12"}
   %h1 Dress Ideas
   %p{:class=>"bg-info"} Entries of you best Ideas
   = link_to 'Sign in' ,new_user_session_path


/ =@post.first(:created_at)